body,p,span{
    font-family: 'Spartan', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Spartan', sans-serif;
}
.main-header{
    background-color: rgb(211, 210, 204);
}

.main-header .container-fluid{
    max-width: 1480px;
}
.slider .container-fluid{
    max-width: 1480px;

}

/* logooooo */
.lfwf-logo{
    width: 110px;
    height: 72px;
    margin-left: 88px;
}

body .btn-style{
    font-size: 18px;
position: relative;
z-index: 1;
border-radius: 50px;
background: white;
padding: 7px 20px;
color: blue;
}

body .btn-style:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: blue;
    z-index: -1;
    transition: .4s;
    border-radius: 50px;

}

body .btn-style:hover{
    color: #fff;

}
body .btn-style:hover::after{
    width: 100%;

}

/* menu? */
ul.our-primary-menu{}
ul.our-primary-menu li:nth-child(1) a{
    color: blue;
}
ul.our-primary-menu li:nth-child(1)::before{
    content: "";
    width: 30%;
    height: 3px;
    background-color: blue;
    position: absolute;
    top: 66px;
    left: 20px;
    opacity: 1;
    visibility: visible;
}
ul.our-primary-menu li::before{
    content: "";
    width: 30%;
    height: 3px;
    background-color: blue;
    position: absolute;
    top: 66px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
}
ul.our-primary-menu li:hover::before{
    opacity: 1;
    visibility: visible;
}
ul.our-primary-menu li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/* dropdownmenu  css start*/

ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 155%;
}
    

ul.our-primary-menu li ul{
    position:absolute;
    width: 230px;
    left: 0;
    top: 160%;
    background-color: #fafafa;
    list-style: none;
    padding:10px;

     opacity: 0; 
    visibility: hidden; 

    transition: all .4s ease-in-out;
    box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li ul li:nth-child(1) a{
    background-color: blue;
    color: white;
}
ul.our-primary-menu li ul li:nth-child(1)::before{
    opacity: 0;
    visibility: hidden;
}
ul.our-primary-menu li ul li a:hover{}

.heder-info{}
.header-search{
    width: 60px;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    color: #111;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}
.header-button{}





.slider-content h1{
    font-size: 46px;
margin-top: 145px;
margin-bottom: 20px;
font-weight: 600;
}    
}
.slider-content p{
 font-weight: 400;
 color: #606060;
 font-size: 21px;
}
.slider-content a{

}
.slider-content {
    height: 100vh;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.img-fluid-slider {
    width: 921px;
    position: relative;
    top: -148px;
    border-radius: 50%;
    left: 122px;
}